<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://www.blakol.com">Blakol</a>
    by <em><a href="http://www.blakol.com">Blakol Studios</a></em>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>